name: thaimusic
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.5.4

dependencies:
  flutter:
    sdk: flutter

  http: ^1.2.0
  image_picker: ^0.8.7+4
  url_launcher: ^6.2.2
  go_router: ^16.3.0

  # เปลี่ยนจาก uni_links → app_links (ใช้งานได้จริง, รองรับ AGP ใหม่)
  app_links: ^3.4.3

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
